In [1]:
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as snes

## Merging all CSV files into a single dataset.

In [10]:
csv_list = ["./spotifysongscsvs/2010.csv", "./spotifysongscsvs/2011.csv", "./spotifysongscsvs/2012.csv", "./spotifysongscsvs/2013.csv", "./spotifysongscsvs/2014.csv", "./spotifysongscsvs/2015.csv", "./spotifysongscsvs/2016.csv", "./spotifysongscsvs/2017.csv", "./spotifysongscsvs/2018.csv", "./spotifysongscsvs/2019.csv"]
all_dataframes = []

for file in csv_list:
    dataframe = pd.read_csv(file)
    all_dataframes.append(dataframe)

all_top_songs = pd.concat(all_dataframes, ignore_index=True)
all_top_songs.head(2)

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82

___

## Export the combined dataset into a CSV

In [11]:
all_top_songs.to_csv("./top_spotify_songs.csv", index=False)

___

## Clean the dataset

In [14]:
all_top_songs.info()
# enter shrug emoji here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  603 non-null    int64
 1   title       603 non-null    object
 2   artist      603 non-null    object
 3   top genre   603 non-null    object
 4   year        603 non-null    int64
 5   bpm         603 non-null    int64
 6   nrgy        603 non-null    int64
 7   dnce        603 non-null    int64
 8   dB          603 non-null    int64
 9   live        603 non-null    int64
 10  val         603 non-null    int64
 11  dur         603 non-null    int64
 12  acous       603 non-null    int64
 13  spch        603 non-null    int64
 14  pop         603 non-null    int64
dtypes: int64(12), object(3)
memory usage: 70.8+ KB

___

## What is the most popular song in the dataset?

In [24]:
most_popular_index = all_top_songs["pop"].idxmax()
most_popular_song = all_top_songs.loc[most_popular_index, "title"]
most_popular_song_artist = all_top_songs.loc[most_popular_index, "artist"]
print(f"The most popular song in the dataset is \"{most_popular_song}\" by {most_popular_song_artist}")

The most popular song in the dataset is "Memories" by Maroon 5

___